# dependencies
node_modules/

# =========================
# ENV FILES
# =========================
.env
*.env

# build outputs
dist/
build/

# prisma generated
apps/backend/src/generated/
# logs
*.log

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/

apps/ai-service/venv/
apps/ai-service/.venv/
apps/ai-service/__pycache__/

# =========================
# AI SERVICE
# =========================
apps/ai-service/chroma_db/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE FILES
# =========================
.vscode/
.idea/

# =========================
# CACHE
# =========================
.cache/
.pytest_cache/

# =========================
# TEMP FILES
# =========================
*.crdownload