node_modules/
dist/
build/
.vscode/
.git/
.agents/
.codex/
ai-service/
skills-lock.json
package-lock.json
package.json
.eslintcache
*.eslintcache
**/node_modules/
**/dist/
**/dist-ssr/
**/build/
**/.venv/
**/chroma_db/
**/.eslintcache
